<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과</title>
    <style>
        span {
            color: blue;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div>
        이름: <span>
            <%= userInfo.name %>
        </span>
    </div>
    <div>
        성별: <span>
            <%= userInfo.gender %>
        </span>
    </div>
    <div>
        생년월일: <span>
            <%= userInfo.year %>
        </span>년
        <span>
            <%= userInfo.month %>
        </span>월
        <span>
            <%= userInfo.day %>
        </span>일
    </div>
    <div>
        관심사: <span>
            <%= userInfo.interest %>
        </span>
    </div>
</body>

</html>