<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>방명록</title>
</head>

<body>
    <form name="visitor-form">
        <fieldset>
            <legend>방명록 등록</legend>
            <input type="text" id="name" placeholder="사용자 이름"><br>
            <input type="text" id="comment" placeholder="방명록"><br>
            <div id="btn_group">
                <button type="button" onclick="registerComment()">등록</button>
            </div>
        </fieldset>
    </form>
    <br>

    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>작성자</th>
                <th>방명록</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i < data.length; i++) { %>
                <tr id="tr_<%= data[i].id %>">
                    <td>
                        <a href="/visitor/get?id=<%= data[i].id %>" style="text-decoration: none;">
                            <%= data[i].id %>
                        </a>
                    </td>
                    <td>
                        <%= data[i].name %>
                    </td>
                    <td>
                        <%= data[i].comment %>
                    </td>
                    <td><button type="button" onclick="editVisitor('<%= data[i].id %>')">수정</button></td>
                    <td><button type="button" onclick="deleteVisitor('<%= data[i].id %>')">삭제</button></td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <script>
        const body = document.querySelector('tbody');
        const form = document.forms['visitor-form'];

        function registerComment() {
            axios({
                method: 'POST',
                url: '/visitor/write',
                data: {
                    name: form.name.value,
                    comment: form.comment.value,
                }
            }).then((res) => {
                console.log('create', res);
                const html = `
                <tr>
                    <td>${res.data[i].id}</td>
                    <td>${res.data[i].name}</td>
                    <td>${res.data[i].comment}</td>
                    <td></td>
                    <td></td>
                </tr>`;
                body.insertAdjacentHTML('beforeend', html);
                // beforeend: 요소 바로 안에서 마지막 자식 이후에 위치
            })
        }

        function editVisitor(id) {
            axios({
                method: 'PATCH',
                url: '/visitor/edit',
                data: {
                    id: Number(id),
                    name: form.name.value,
                    comment: form.comment.value,
                }
            }).then((res) => {
                console.log('edit', res);
                window.location.reload();
            })
        }

        function deleteVisitor(id) {
            if (!confirm('삭제하시겠습니까?')) return;
            axios({
                method: 'DELETE',
                url: '/visitor/delete',
                data: {
                    id: Number(id),
                    name: form.name.value,
                    comment: form.comment.value,
                }
            }).then((res) => {
                console.log('delete', res);
                windows.location.reload();
            })
        }
    </script>

</body>

</html>