<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>
        <%= data.name %>님의 회원 정보
    </h1>
    <form onsubmit="edit(event)" name="edit-info">
        <input type="hidden" id="id" value="<%= data.id %>">
        <input type="text" id="userid" value="<%= data.userid %>" readonly /><br>
        <input type="text" id="name" value="<%= data.name %>" /><br>
        <input type="password" id="pw" value="<%= data.pw %>" /><br>
        <button type="submit">수정</button>
    </form>

    <script>
        async function edit(e) {
            e.preventDefault();
            const form = document.forms['edit-info']
            try {
                const res = await axios({
                    method: 'PATCH',
                    url: '/info/edit',
                    data: {
                        id: Number(form.id.value),
                        usrid: form.userid.value,
                        name: form.name.value,
                        pw: form.pw.value
                    }
                });
                if (res.data.result) {
                    alert("회원 정보 수정이 완료되었습니다");
                    document.location.reload();
                }

            } catch (error) {
                console.log(error)
            }
        }
    </script>
</body>

</html>